.div-container {
	background: hsl(222, 29%, 20%);
	height: auto;
	width: 100%;
	position: relative;
	font-weight: bold;
	/* color: #ededed; */
	color: #242d42;
}

.about-container {
	background: #242d42;
}

.item-1 {
	padding-left: 110px;
}

.about-text-container {
	/* background-color: #c34b41; */
	border-radius: 10px;
	padding: 15px;
	overflow-y: auto;
}

.about-container h1 {
	font-size: 50px;
	font-weight: bolder;
	margin: 10px 0px;
	color: #c34b41;
}

.p-container {
	border-radius: 10px;
	/* background-color: #ededed; */
	background-color: #242d42;
	padding: 2px 0px;
}

.about-container p {
	font-size: large;
	font-weight: 500;
	color: #b9b9b9;
	word-spacing: 4px;
}

.tech-stack {
	margin: 40px 0px;
	font-size: 70px;
	color: #ededed;
}

.about-sidebar {
	height: auto;
}

.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 300px solid #c34b41;
	border-right: 300px solid transparent;
}

@media screen and (max-width: 600px) {
	.about-text-container {
		margin-top: 40px;
	}

	.item-1 {
		background: #242d42;
		padding: 0px 15px;
	}

	.about-container p {
		font-size: medium;
	}

	.tech-stack {
		font-size: 50px;
	}

	.triangle-bottomleft {
		width: 0px;
		height: 0px;
		border-bottom: 100px solid #c34b41;
		border-right: 100px solid transparent;
	}
}
