.page-container {
	background: #242d42;
	height: 100vh;
}

.image-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 300px solid #c34b41;
	border-right: 300px solid transparent;
}

.contact-info {
	background-color: #c34b41;
	margin-left: 10%;
	padding-left: 40px;
	padding-right: 100px;
	font-size: 40px;
	color: #242d42;
}

.find-me {
	font-size: 50px;
	margin-top: 10px;
	font-weight: 600;
}

.contact-info-row {
	display: flex;
	align-items: center;
	padding: 10px 0px;
}

.contact-info-row a {
	cursor: pointer;
	color: #242d42;
	text-decoration: none;
}

.contact-info-row:hover {
	color: #ededed;
	transition: 0.7s;
}

.contact-info-row:hover > a {
	color: #ededed;
	transition: 0.7s;
}

.contact-icon {
	margin-right: 30px;
	font-size: 65px;
}

.name-placeholder {
	font-size: 70px;
	color: #c34b41;
	margin-left: 10%;
	font-weight: 100;
}

@media screen and (max-width: 600px) {
	.name-placeholder {
		font-size: 50px;
		color: #c34b41;
		margin-left: 10px;
		padding-top: 20px;
	}

	.contact-icon {
		font-size: 60px;
		margin-right: 10px;
	}

	.contact-info {
		margin-left: 0;
		padding-left: 10px;
		font-size: 30px;
		padding-right: 0px;
	}

	.contact-info-row a {
		cursor: pointer;
		color: #242d42;
		text-decoration: none;
		margin-right: 10px;
		font-size: 25px;
	}

	.find-me {
		font-size: 30px;
		margin-top: 10px;
		font-weight: 600;
	}
}
