.sidebar-container {
	padding-top: 80px;
	padding-right: 50px;
	display: flex;
	justify-content: center;
}

.sidebar-icon {
	color: #ededed;
	margin: 20px 0px;
}

.sidebar-icon:hover {
	cursor: pointer;
	transition: 0.7s;
	opacity: 0.5;
}
